<div class="d-flex align-items-center justify-content-center min-vh-100">
    <div class="row span-4 ">
        <div class="col"></div>
        <div class="col">
            <div class="toast show">
                <div class="toast-header">
                    Authentication - You Need Login!
                </div>
                <div class="toast-body">
                    <form>
                        <div class="mb-3">
                            <label for="TokenD" class="form-label">Token D</label>
                            <input type="password" class="form-control" id="TokenD" aria-describedby="emailHelp">
                            <div id="TokenD" class="form-text">You Need 6 Digits Code send to your phone number.</div>
                        </div>
                        
                        <button type="submit" class="btn btn-primary w-100">Authenticate</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>